.titan-one-regular {
    font-family: "Titan One", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  body {
    font-weight: 100;
    font-family: "Titan One", serif;
    font-size: 22px;
    margin: 0;
    background-color: #0c0c0c;
    max-width: 1920px;
    color: #ffff;
    text-align: center;
  }

#question-container div {
    margin-bottom: 20px;
}

label {
    display: block; /* Faz cada resposta aparecer em uma nova linha */
}
h1 {
    color: #fc8904;
    font-family: "Titan One", serif;
    text-align: center;
  }
  h2 {
    color: #ffff;
    font-family: "Titan One", serif;
    text-align: center;
  }
  .logo {
    width: 90%;
    height: 100px;
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
  }
  
.footer {
  background-color: #121212;
  /* Cor de fundo do rodapé */
  color: white;
  /* Cor do texto */
  text-align: center;
  /* Centraliza o texto */
  padding: 20px;
  /* Espaçamento interno */
  font-size: 14px;
  /* Tamanho do texto */
}

.footer-link {
  text-decoration: none;
  background-color: #121212;
  /* Cor de fundo do rodapé */
  color: white;
  /* Cor do texto */
  text-align: center;
  /* Centraliza o texto */
  padding: 20px;
  /* Espaçamento interno */
  font-size: 14px;
  /* Tamanho do texto */
}